<% 
    let ingredientCounter = 5;
    recipe.Ingredients = JSON.parse(recipe.Ingredients_JSON);

    recipe.craftedItemImage = recipe.CraftedItemName.toLowerCase().replace(/ /g, "_");

    recipe.WaterIngredient = recipe.Ingredients.filter(x => x.ItemId == 128);

    recipe.NonWaterIngredients = recipe.Ingredients.filter(x => x.ItemId != 128);

    if(recipe.WaterIngredient.length > 0)
    {
        ingredientCounter = 4;
        recipe.WaterIngredient = recipe.WaterIngredient[0];
    }

    
    var weightItems = [156, 102];
    var liquidItems = [5, 128, 76];

    if (weightItems.indexOf(recipe.ItemId)>-1)
        recipe.ItemYieldHR = (recipe.ItemYield/1000)+"KG";
    else if (liquidItems.indexOf(recipe.ItemId)>-1)
        recipe.ItemYieldHR = (recipe.ItemYield/1000)+"L";
    else
        recipe.ItemYieldHR = recipe.ItemYield;

%> 
<div class="scaleWrap">
    <div class="structureCraftingRecipe craftingRecipeFrame">
        <div class="iconImage" title="<%=recipe.CraftedItemName%>" style="background-image:url('/Images/Items/<%=recipe.craftedItemImage%>.png');"></div>
        <p class="recipeName"><a title="View item" href="/item/<%=recipe.ItemId%>"><%=recipe.CraftedItemName%></a></p>
        <p class="craftTime" title="In-game time">Craft time : <span><%=recipe.CraftTimeHR%></span></p>
        <p class="itemYield" title="Yield"><% if(recipe.ItemYield>1) { %>(<% if(weightItems.indexOf(recipe.ItemId) == liquidItems.indexOf(recipe.ItemId)) { %>x<% } %><%=recipe.ItemYieldHR%>)<% } %></p>
        <p class="description"><%=recipe.Description%></p>
        <div class="ingredientsContainer">
            <% for(i = 0; i < ingredientCounter; i++) { %>
                <% if(recipe.NonWaterIngredients[i] && recipe.NonWaterIngredients[i].ItemId != 128) { %>
                    <%-include("partials/ingredientBox", 
                    {ingredient: {
                        Name: recipe.NonWaterIngredients[i].Name, 
                        ItemId: recipe.NonWaterIngredients[i].ItemId, 
                        Amount : recipe.NonWaterIngredients[i].IngredientAmount, 
                        Image : recipe.NonWaterIngredients[i].Name.toLowerCase().replace(/ /g, "_"), 
                        IsWater: false
                        }
                    });%>
                <% } else { %>
                    <%-include("partials/ingredientBox", {ingredient: false});%>
                <% } %>
            <% } %>
            <% if(ingredientCounter==4) { %>
                <%-include("partials/ingredientBox", 
                    {ingredient: {
                        Name: recipe.WaterIngredient.Name, 
                        ItemId: recipe.WaterIngredient.ItemId, 
                        Amount : recipe.WaterIngredient.IngredientAmount, 
                        Image : recipe.WaterIngredient.Name.toLowerCase().replace(/ /g, "_"), 
                        IsWater:true
                        }
                    });%>
    
            <% } %>
            
        </div>
        <p class="requiredStructure">Required structure: <a href="/structure/<%=recipe.RequiredStructureId%>"><%=recipe.RequiredStructureName%><%if(recipe.RequiredStructureLevel) { %> (level: <%=recipe.RequiredStructureLevel%>)<% } %></a></p>
    </div>
</div>