<% layout('/api-main') -%>

<a href="/api/recipes" class="control-return"><button>Back to Recipe list</button></a>
<h1>Add new recipe</h1>
<form id="CraftingRecipeForm">
    <label>Crafted Item</label>
    <select id="CraftedItemId">
        <% if(view.Items != null){ view.Items.forEach(function(Item){ %>
            <option value="<%=Item.ItemId%>"><%=Item.Name%></option>
        <% }) } %>
    </select> 
    <input type="number" id="CraftTimeInMinutes" placeholder="Crafting time in minutes" />
    <br />
    <input type="number" id="ItemYield" placeholder="Item Yield" />
    <br />
    <label>Crafting Category</label>
    <select id="CraftingCategoryId">
        <% if(view.CraftingCategories != null){ view.CraftingCategories.forEach(function(CraftingCategory){ %>
        <option value="<%=CraftingCategory.CraftingCategoryId%>"><%=CraftingCategory.Name%></option>
        <% }) } %>
    </select> 
    <br />
    <label>Structure requirement</label>
    <select id="RequiredStructureId">
        <option value="0">Select structure</option>
        <% if(view.Structures != null){ view.Structures.forEach(function(Structure){ %>
            <option value="<%=Structure.StructureId%>"><%=Structure.Name%></option>
        <% }) } %>
    </select>
    <br />
    <input type="number" id="RequiredStructureLevel" placeholder="Level of the required structure" />
    <br />
    <label>Tool requirement (1)</label>
    <select id="RequiredToolOneId">
        <option value="0">Select tool</option>
        <% if(view.Tools != null){ view.Tools.forEach(function(Item){ %>
            <option value="<%=Item.ItemId%>"><%=Item.Name%></option>
        <% }) } %>
    </select>
    <br />
    <label>Tool requirement (2)</label>
    <select id="RequiredToolTwoId">
        <option value="0">Select tool</option>
        <% if(view.Tools != null){ view.Tools.forEach(function(Item){ %>
            <option value="<%=Item.ItemId%>"><%=Item.Name%></option>
        <% }) } %>
    </select>
    <hr />
    <div id="ingredients">
    </div>
    <button id="addIngredient" class="control-add-ingredient">Add ingredient</button>
    <hr />
    <hr />
    <button id="addRecipe" class="control-save">Add recipe</button>
    <label id="status"></label>
</form>