<% layout('/api-main') -%>

<a href="/api" class="control-return"><button>Return to menu</button></a>
<h1>Report list</h1>
<input id="filter" type="text" placeholder="Filter table"/>
<table border="1">
    <thead>
        <tr>
            <td>UserReportId</td>
            <td>Report type</td>
            <td>Content</td>
            <td>Client IP address</td>
            <td>Referer URL</td>
        </tr>
    </thead>
    <tbody>
        <% if (view.UserReports != null) { view.UserReports.forEach(function(Report){%>
            <tr>
                <td><%=Report.UserReportId%></td>
                <td><a href="/api/report/<%=Report.UserReportId%>"><%=Report.ReportCategoryName%> > <%=Report.ReportSubCategoryName%></a></td>
                <td><%=Report.Content%></td>
                <td><%=Report.ClientIPAddress%></td>
                <td><%=Report.RefererUrl%></td>
            </tr>
        <%})}%>
    </tbody>
</table>